<link rel="stylesheet" href="~/css/discounts.css" />

<h1>Delete Discount</h1>

<div class="info-box">
    <p><b>DiscountID:</b> @Model.DiscountID</p>
    <p><b>PackageID:</b> @Model.PackageID</p>
    <p><b>Destination:</b> @Model.Destination</p>
    <p><b>Dates:</b> @Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>
    <p><b>Discount:</b> @Model.DiscountPercent%</p>
    <p><b>Original Price:</b> @Model.OriginalPrice</p>
    <p><b>Final Price:</b> @Model.FinalPrice</p>
</div>

<div class="warning-box">
    Are you sure you want to delete this discount?
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="discountId" value="@Model.DiscountID" />

    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>